@model List<EWOS_MVC.Models.RepeatOrderModel>
@{
    ViewData["Title"] = "Request List";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="my-3">Request List</h5>
@if (TempData["Error"] != null || TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @(TempData["Error"] ?? TempData["ErrorMessage"])
    </div>
}
<div class="row mb-3">
    <div class="col-2 col-sm-2">
        @await Component.InvokeAsync("MachineCategories")
    </div>
    <div class="col-4 col-sm-4">
        <input type="text" id="searchBox" class="form-control" placeholder="Search..." aria-label="Search">
    </div>
</div>


<div class="tab-wrapper">

    @{
        var summary = ViewBag.StatusSummary as Dictionary<string, int>;
        int GetCount(string status) => summary != null && summary.ContainsKey(status) ? summary[status] : 0;
    }
    <!-- Tab Bar-->
    <ul class="nav nav-tabs justify-content-center" id="statusTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active"
                    id="waitingapproval-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#waitingapproval"
                    data-status="WaitingApproval"
                    type="button"
                    role="tab">
                 Approval Request
                @if (GetCount("WaitingApproval") > 0)
                {
                    <span class="badge bg-danger rounded-pill">@GetCount("WaitingApproval")</span>
                }
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link"
                    id="fabricationapproval-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#FabricationApproval"
                    data-status="FabricationApproval"
                    type="button"
                    role="tab">
                Fabrication Approval
                @if (GetCount("FabricationApproval") > 0)
                {
                    <span class="badge bg-danger rounded-pill">@GetCount("FabricationApproval")</span>
                }
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link"
                    id="waitingfabrication-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#WaitingFabrication"
                    data-status="WaitingFabrication"
                    type="button"
                    role="tab">
                Waiting Fabrication
                @if (GetCount("WaitingFabrication") > 0)
                {
                    <span class="badge bg-danger rounded-pill">@GetCount("WaitingFabrication")</span>
                }
            </button>
        </li>
        
    </ul>
</div>

<!-- Table data-->
<table class="table table-sm table-striped table-bordered mt-3">
    <thead>
        <tr>
            <th class="text-center">No</th>
            <th>Requestor</th>
            <th>Part Name</th>
            <th>Request Category</th>
            <th>CRD</th>
            <th>Request Date</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
        }
        <tr id="loadingText" style="display:none; text-align:center; margin-bottom:10px; font-weight:bold; color:#555;">
            <td>Loading...</td>
        </tr>
        @if (Model == null || !Model.Any())
        {
            <tr>
                <td colspan="7" class="text-center text-muted">Tidak ada data.</td>
            </tr>
        }
        else
        {
            foreach (var rq in Model)
            {
                <tr>
                    <td class="text-center">@index</td>
                    <td>@rq.Users?.Name</td>
                    <td>@rq.ItemRequests?.PartName</td>
                    <td>@rq.ItemRequests?.MachineCategories?.CategoryName</td>
                    <td>@rq.CRD.ToString("dd/MM/yyyy")</td>
                    <td>@rq.CreatedAt</td>
                    <td>@rq.CRD.ToString("dd/MM/yyyy")</td>
                    <td>@rq.CreatedAt</td>
                    <td class="text-center">
                        @if (rq.Status == "ApprovalFabrication")
                        {

                            <button class="btn btn-success btn-sm open-modal"
                                    data-url="/AdminFabrication/Request/LoadDataRo?id=@rq.Id&amp;type=Approve">
                                Approve
                            </button>
                        }
                        else if (rq.Status == "WaitingFabrication")
                        {

                            <button class="btn btn-primary btn-sm open-modal"
                                    data-url="/AdminFabrication/Request/LoadDataRo?id=@rq.Id&amp;type=Fabrikasi">
                                Fabrikasi
                            </button>
                        }

                        <button class="btn btn-info btn-sm open-modal"
                                data-url="/AdminFabrication/Request/LoadDataRo?id=@rq.Id&amp;type=Detail">
                            Detail
                        </button>

                    </td>

                </tr>
                index++;
            }
        }
    </tbody>
</table>

<script src="~/js/AdminFabrication/repeatOrder.js" defer></script>