
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Inhouse Fabrication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EWOS_MVC.styles.css" asp-append-version="true" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/EXL-Logo_Flash-Green.png" />
    <link rel="shortcut icon" href="~/images/EXL-Logo_Flash-Green.png" />
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <!-- CSS global -->
    <link href="~/css/site.css" rel="stylesheet" />
   
  
</head>
<body>
    <!-- loading efek -->
    <div id="globalLoadingOverlay">
        <div id="loadingBox">
            <div class="spinner-border text-primary" role="status"></div>
            <div id="loadingText"><i>Loading...</i></div>
        </div>
    </div>
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar"
             style="background-color: #212529">
            <nav>
                <!-- Menambahkan logo -->
                <a href="/">
                    <img src="~/images/EXL-Logo.png" alt="Logo" style="height:50px; margin: auto" />
                </a>
                <!-- Menu navigasi lain -->
            </nav>
          
                <a href="/AdminSystem/Dashboard" class="@(Context.Request.Path == "/AdminSystem/Dashboard" ? "active" : "")">
                    <i class="bi bi-speedometer2"></i> Dashboard
                </a>
                <a href="/AdminSystem/RawMaterial" class="@(Context.Request.Path == "/AdminSystem/RawMaterial" ? "active" : "")">
                    <i class="bi bi-box-seam"></i> Raw Material
                </a>
                <a href="/AdminSystem/Machine" class="@(Context.Request.Path == "/AdminSystem/Machine" ? "active" : "")">
                    <i class="bi bi-list-ul"></i> Machine List
                </a>
                <a href="/AdminSystem/MachineCategories" class="@(Context.Request.Path == "/AdminSystem/MachineCategories" ? "active" : "")">
                    <i class="bi bi-gear-fill"></i> Machine Categories
                </a>
                <a href="/AdminSystem/UserList" class="@(Context.Request.Path == "/AdminSystem/UserList" ? "active" : "")">
                    <i class="bi bi-people-fill"></i> User List
                </a>
                <a href="/AdminSystem/WeekFabrication" class="@(Context.Request.Path == "/AdminSystem/WeekFabrication" ? "active" : "")">
                    <i class="bi bi-calendar-check"></i> Weeks Fabrication
                </a>
                 <a href="/AdminSystem/YearsSetting" class="@(Context.Request.Path == "/AdminSystem/YearsSetting" ? "active" : "")">
                    <i class="bi bi-calendar"></i> Years Setting
                </a>
                <a href="/Dashboard" class="bg-danger">
                <i class="bi bi-arrow-left-square"></i> Main Panel
                </a>
        </div>

        <!-- Main Content -->
        <div class="main-content">
          
            <!-- Header -->
            <header class="header d-flex justify-content-between align-items-center px-3 py-2 bg-light border-bottom">
                <h5 class="mb-0">EWOS Inhouse Fabrication</h5>

                <!-- User Greeting -->
                <div class="user-greeting">
                    <p class="mb-0">Hi, @ViewBag.Name</p>
                </div>
            </header>


            <!-- Content -->
            <div class="content">
                @RenderBody()
            </div>
            <!-- Global Modal -->
            <div class="modal fade" id="globalModal" tabindex="-1">
                <div class="modal-dialog modal-md">
                    <div class="modal-content" id="globalModalContent">
                        <!-- Content  di-load lewat fetch js -->
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer class="bg-light text-center py-2">
                <p class="mb-0 small">&copy; @DateTime.Now.Year PT Excelitas Technologies Batam</p>
            </footer>

        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- chart apex.js-->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- Sweetalert Toast -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- lokal js-->
    <script src="/js/toast.js"></script>
    <script src="/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
