@{
    var roles = (ViewBag.Roles as List<string>) ?? new List<string>();

    // Buat flag boolean supaya mudah di layout
    bool isAdminSystem = roles.Contains("AdminSystem");
    bool isAdminFabrication = roles.Contains("AdminFabrication");
    bool isEngineerFabrication = roles.Contains("EngineerFabrication");
    bool isRequestor = roles.Contains("Requestor");
}

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Inhouse Fabrication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EWOS_MVC.styles.css" asp-append-version="true" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/EXL-Logo_Flash-Green.png" />
    <link rel="shortcut icon" href="~/images/EXL-Logo_Flash-Green.png" />
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <!-- CSS global -->
    <link href="~/css/site.css" rel="stylesheet" />
   
</head>
<body>
    <!-- loading efek -->
    <div id="globalLoadingOverlay">
        <div id="loadingBox">
            <div class="spinner-border text-primary" role="status"></div>
            <div id="loadingText">Loading...</div>
        </div>
    </div>
    <div class="wrapper">
        <!-- Sidebar -->
       
        <div class="sidebar"
             style="zoom:0.9; background-color:
         @(isAdminSystem ? "#212529" :
                        isAdminFabrication ? "#212529" :
                        isRequestor ? "#1e1e2f" : "#212529")">

            <nav>
                <a href="/">
                    <img src="~/images/EXL-Logo.png" alt="Logo" style="height:50px; margin:auto;" />
                </a>
            </nav>

            <!-- Requestor / Supervisor / AdminFabrication Menu -->
            @if (isAdminFabrication || isRequestor || isEngineerFabrication)
            {
                <div class="sidebar-section">
                    <h6 class="text-uppercase text-muted px-3 mt-3 mb-2">Main Menu</h6>

                    <a href="/Dashboard" class="nav-link px-3 @(Context.Request.Path == "/Dashboard" ? "active" : "")">
                        <i class="bi bi-house-door"></i> Dashboard
                    </a>
                    @if ((isRequestor || isEngineerFabrication) && !isAdminFabrication)
                    {
                        <a href="/FabricationHistory" class="nav-link px-3 @(Context.Request.Path == "/FabricationHistory" ? "active" : "")">
                            <i class="bi bi-clock-history"></i> Fabrication History
                        </a>
                    }
                   
                    @{
                        var isRequestHistoryActive = Context.Request.Path.StartsWithSegments("/RequestHistory");
                    }

                    <li class="nav-item">
                        <a class="nav-link px-3 d-flex justify-content-between align-items-center @(isRequestHistoryActive ? "active" : "")"
                           data-bs-toggle="collapse"
                           href="#collapseRequestHistory"
                           role="button"
                           aria-expanded="@(isRequestHistoryActive ? "true" : "false")"
                           aria-controls="collapseMyRequest">

                            <span><i class="bi bi-person-lines-fill"></i> Request History</span>
                            <i class="bi bi-chevron-down small"></i>
                        </a>

                        <div class="collapse ms-4 @(isRequestHistoryActive ? "show" : "")" id="collapseRequestHistory">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @(Context.Request.Path == "/RequestHistory/NewRequest" ? "active" : "")"
                                       href="/RequestHistory/NewRequest">
                                        New Request
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link @(Context.Request.Path == "/RequestHistory/RepeatOrder" ? "active" : "")"
                                       href="/RequestHistory/RepeatOrder">
                                        Repeat Order
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <a href="/Requestor/NewRequest" class="nav-link px-3 @(Context.Request.Path == "/Requestor/NewRequest" ? "active" : "")">
                        <i class="bi bi-file-earmark-plus"></i> Form Request
                    </a>
                    <a href="/ListProduct" class="nav-link px-3 @(Context.Request.Path == "/ListProduct" ? "active" : "")">
                        <i class="bi bi-list-check"></i> List Product
                    </a>
                    @{
                        var isMyRequestActive = Context.Request.Path.StartsWithSegments("/Requestor/MyRequest");
                    }

                    <li class="nav-item">
                        <a class="nav-link px-3 d-flex justify-content-between align-items-center @(isMyRequestActive ? "active" : "")"
                           data-bs-toggle="collapse"
                           href="#collapseMyRequest"
                           role="button"
                           aria-expanded="@(isMyRequestActive ? "true" : "false")"
                           aria-controls="collapseMyRequest">

                            <span><i class="bi bi-person-lines-fill"></i> My Request</span>
                            <i class="bi bi-chevron-down small"></i>
                        </a>

                        <div class="collapse ms-4 @(isMyRequestActive ? "show" : "")" id="collapseMyRequest">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @(Context.Request.Path == "/Requestor/MyRequest/Evaluation" ? "active" : "")"
                                       href="/Requestor/MyRequest/Evaluation">
                                        Evaluation
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link @(Context.Request.Path == "/Requestor/MyRequest/RepeatOrder" ? "active" : "")"
                                       href="/Requestor/MyRequest/RepeatOrder">
                                        Repeat Order
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    
                </div>
            }

            <!-- Admin Fabrication Menu -->
            @if (isAdminFabrication)
            {
                <div class="sidebar-section mt-3">
                    <h6 class="text-uppercase text-muted px-3 mb-2">Fabrication Menu</h6>

                    <a href="/AdminFabrication/Request/Evaluation" class="@(Context.Request.Path == "/AdminFabrication/Request/Evaluation" ? "active" : "")">
                        <i class="bi bi-box-fill"></i> Evaluation
                    </a>
                    <a href="/AdminFabrication/Request/RepeatOrder" class="@(Context.Request.Path == "/AdminFabrication/Request/RepeatOrder" ? "active" : "")">
                        <i class="bi bi-repeat"></i> Repeat Order
                    </a>
                    <a href="/FabricationHistory" class="nav-link px-3 @(Context.Request.Path == "/FabricationHistory" ? "active" : "")">
                        <i class="bi bi-clock-history"></i> Fabrication History
                    </a>
                </div>
            }

            <!-- Supervisor Menu -->
            @if (isEngineerFabrication)
            {
                <div class="sidebar-section mt-3">
                    <h6 class="text-uppercase text-muted px-3 mb-2">Approval Menu</h6>
                    <a href="/EngineerFabrication/Approval/Evaluation" class="nav-link px-3 @(Context.Request.Path.Value != null && Context.Request.Path.Value.Contains("/EngineerFabrication/Approval")
                              ? "active" : "")">
                        <i class="bi bi-hourglass-split"></i> Waiting Approval
                    </a>
                </div>
            }

            <!-- Admin System Menu -->
            @if (isAdminSystem)
            {
                <div class="sidebar-section mt-3">
                    <h6 class="text-uppercase text-muted px-3 mb-2">Admin System</h6>
                    <a href="/AdminSystem/Dashboard">
                        <i class="bi bi-arrow-right-square"></i> Admin System Panel
                    </a>
                </div>
            }
        </div>

        <!-- Main Content -->
        <div class="main-content">
          
            <!-- Header -->
            <header class="header d-flex justify-content-between align-items-center px-3 py-2 bg-light border-bottom">
                <h5 class="mb-0">EWOS Inhouse Fabrication</h5>

                <!-- User Greeting -->
                <div class="user-greeting">
                    <p class="mb-0">Hi, @ViewBag.Name</p>
                </div>
            </header>

            <!-- Content -->
            <div class="content">
                @RenderBody()
            </div>

            <!-- Global Modal -->
            <div class="modal fade" id="globalModal" tabindex="-1">
                <div class="modal-dialog modal-md">
                    <div class="modal-content" id="globalModalContent">
                        <!-- Content  di-load lewat fetch js -->
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer class="bg-light text-center py-2">
                <p class="mb-0 small">&copy; @DateTime.Now.Year PT Excelitas Technologies Batam</p>
            </footer>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- chart apex.js-->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- Sweetalert Toast -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- lokal js-->
    <script src="/js/toast.js"></script>
    <script src="/js/site.js"></script>


    @RenderBody()
    <partial name="_NotificationPartial" />

    <!-- Apex chart -->

   
    @RenderSection("Scripts", required: false)
</body>
</html>
