@{
    var roles = (ViewBag.Roles as List<string>) ?? new List<string>();

    // Buat flag boolean supaya mudah di layout
    bool isAdminSystem = roles.Contains("AdminSystem");
    bool isAdminFabrication = roles.Contains("AdminFabrication");
    bool isEngineerFabrication = roles.Contains("EngineerFabrication");
    bool isRequestor = roles.Contains("Requestor");
}

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Inhouse Fabrication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EWOS_MVC.styles.css" asp-append-version="true" />
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <!-- CSS global -->
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .wrapper {
            display: flex;
            flex: 1;
            overflow: hidden;
        }

        .sidebar {
            width: 250px;
            min-height: 100vh;
            padding: 20px 10px;
            color: white;
        }

            .sidebar h5 {
                font-size: 18px;
                margin-bottom: 30px;
                text-align: center;
            }

            .sidebar a {
                color: #f8f9fa;
                padding: 12px 15px;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                border-radius: 5px;
                text-decoration: none;
                transition: all 0.2s ease;
            }

                .sidebar a i {
                    margin-right: 10px;
                }

                .sidebar a:hover,
                .sidebar a.active {
                    background-color: #495057;
                    color: white;
                }

        .btn-logout {
            width: 100%;
        }

        .main-content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }

        .header {
            background: #f8f9fa;
            padding: 15px 20px;
            border-bottom: 1px solid #dee2e6;
        }

        .content {
            flex-grow: 1;
            padding: 20px;
            overflow-y: auto;
            background-color: #f1f3f5;
        }

        .footer {
            background: #f8f9fa;
            padding: 10px;
            text-align: center;
            border-top: 1px solid #dee2e6;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <!-- loading efek -->
    <div id="globalLoadingOverlay">
        <div id="loadingBox">
            <div class="spinner-border text-primary" role="status"></div>
            <div id="loadingText">Loading...</div>
        </div>
    </div>
    <div class="wrapper">
        <!-- Sidebar -->
       
        <div class="sidebar"
             style="zoom:0.9; background-color:
         @(isAdminSystem ? "#212529" :
                        isAdminFabrication ? "#212529" :
                        isRequestor ? "#1e1e2f" : "#212529")">

            <nav>
                <a href="/">
                    <img src="~/images/EXL-Logo.png" alt="Logo" style="height:50px; margin:auto;" />
                </a>
            </nav>

            <!-- Requestor / Supervisor / AdminFabrication Menu -->
            @if (isAdminFabrication || isRequestor || isEngineerFabrication)
            {
                <div class="sidebar-section">
                    <h6 class="text-uppercase text-muted px-3 mt-3 mb-2">Main Menu</h6>

                    <a href="/Dashboard" class="nav-link px-3 @(Context.Request.Path == "/Dashboard" ? "active" : "")">
                        <i class="bi bi-house-door"></i> Dashboard
                    </a>
                    @if ((isRequestor || isEngineerFabrication) && !isAdminFabrication)
                    {
                        <a href="/FabricationHistory" class="nav-link px-3 @(Context.Request.Path == "/FabricationHistory" ? "active" : "")">
                            <i class="bi bi-clock-history"></i> Fabrication History
                        </a>
                    }
                   
                    @{
                        var isRequestHistoryActive = Context.Request.Path.StartsWithSegments("/RequestHistory");
                    }

                    <li class="nav-item">
                        <a class="nav-link px-3 d-flex justify-content-between align-items-center @(isRequestHistoryActive ? "active" : "")"
                           data-bs-toggle="collapse"
                           href="#collapseRequestHistory"
                           role="button"
                           aria-expanded="@(isRequestHistoryActive ? "true" : "false")"
                           aria-controls="collapseMyRequest">

                            <span><i class="bi bi-person-lines-fill"></i> Request History</span>
                            <i class="bi bi-chevron-down small"></i>
                        </a>

                        <div class="collapse ms-4 @(isRequestHistoryActive ? "show" : "")" id="collapseRequestHistory">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @(Context.Request.Path == "/RequestHistory/NewRequest" ? "active" : "")"
                                       href="/RequestHistory/NewRequest">
                                        New Request
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link @(Context.Request.Path == "/RequestHistory/RepeatOrder" ? "active" : "")"
                                       href="/RequestHistory/RepeatOrder">
                                        Repeat Order
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <a href="/Requestor/NewRequest" class="nav-link px-3 @(Context.Request.Path == "/Requestor/NewRequest" ? "active" : "")">
                        <i class="bi bi-file-earmark-plus"></i> Form Request
                    </a>
                    <a href="/Requestor/ListProduct" class="nav-link px-3 @(Context.Request.Path == "/Requestor/ListProduct" ? "active" : "")">
                        <i class="bi bi-list-check"></i> List Product
                    </a>
                    @{
                        var isMyRequestActive = Context.Request.Path.StartsWithSegments("/Requestor/MyRequest");
                    }

                    <li class="nav-item">
                        <a class="nav-link px-3 d-flex justify-content-between align-items-center @(isMyRequestActive ? "active" : "")"
                           data-bs-toggle="collapse"
                           href="#collapseMyRequest"
                           role="button"
                           aria-expanded="@(isMyRequestActive ? "true" : "false")"
                           aria-controls="collapseMyRequest">

                            <span><i class="bi bi-person-lines-fill"></i> My Request</span>
                            <i class="bi bi-chevron-down small"></i>
                        </a>

                        <div class="collapse ms-4 @(isMyRequestActive ? "show" : "")" id="collapseMyRequest">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @(Context.Request.Path == "/Requestor/MyRequest/Evaluation" ? "active" : "")"
                                       href="/Requestor/MyRequest/Evaluation">
                                        Evaluation
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link @(Context.Request.Path == "/Requestor/MyRequest/RepeatOrder" ? "active" : "")"
                                       href="/Requestor/MyRequest/RepeatOrder">
                                        Repeat Order
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    
                </div>
            }

            <!-- Admin Fabrication Menu -->
            @if (isAdminFabrication)
            {
                <div class="sidebar-section mt-3">
                    <h6 class="text-uppercase text-muted px-3 mb-2">Fabrication Menu</h6>

                    <a href="/AdminFabrication/Request/Evaluation" class="@(Context.Request.Path == "/AdminFabrication/Request/Evaluation" ? "active" : "")">
                        <i class="bi bi-box-fill"></i> Evaluation
                    </a>
                    <a href="/AdminFabrication/Request/RepeatOrder" class="@(Context.Request.Path == "/AdminFabrication/Request/RepeatOrder" ? "active" : "")">
                        <i class="bi bi-repeat"></i> Repeat Order
                    </a>
                    <a href="/FabricationHistory" class="nav-link px-3 @(Context.Request.Path == "/FabricationHistory" ? "active" : "")">
                        <i class="bi bi-clock-history"></i> Fabrication History
                    </a>
                </div>
            }

            <!-- Supervisor Menu -->
            @if (isEngineerFabrication)
            {
                <div class="sidebar-section mt-3">
                    <h6 class="text-uppercase text-muted px-3 mb-2">Approval Menu</h6>
                    <a href="/EngineerFabrication/Approval/Evaluation" class="nav-link px-3 @(Context.Request.Path.Value != null && Context.Request.Path.Value.Contains("/EngineerFabrication/Approval")
                              ? "active" : "")">
                        <i class="bi bi-hourglass-split"></i> Waiting Approval
                    </a>
                </div>
            }

            <!-- Admin System Menu -->
            @if (isAdminSystem)
            {
                <div class="sidebar-section mt-3">
                    <h6 class="text-uppercase text-muted px-3 mb-2">Admin System</h6>
                    <a href="/AdminSystem/Dashboard">
                        <i class="bi bi-power"></i> Admin System ON
                    </a>
                </div>
            }
            <!-- Tambahkan di bagian paling bawah sidebar -->
            @* <div class="sidebar-section px-3 mb-3"> *@
            @*     <a href="#" class="nav-link d-flex align-items-center" *@
            @*        data-bs-toggle="tooltip" *@
            @*        data-bs-placement="right" *@
            @*        title="This system was developed by Riski Wahyudi as an internship project in 2025."> *@
            @*         <i class="bi bi-info-circle me-2"></i> About System *@
            @*     </a> *@
            @* </div> *@

            @* @section Scripts { *@
            @*     <script> *@
            @*         // Inisialisasi tooltip Bootstrap *@
            @*         var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]')) *@
            @*         var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) { *@
            @*             return new bootstrap.Tooltip(tooltipTriggerEl) *@
            @*         }) *@
            @*     </script> *@
            @* } *@

        </div>

        <!-- Main Content -->
        <div class="main-content">
          
            <!-- Header -->
            <header class="header d-flex justify-content-between align-items-center px-3 py-2 bg-light border-bottom">
                <h5 class="mb-0">EWOS Inhouse Fabrication</h5>

                <!-- User Greeting -->
                <div class="user-greeting">
                    <p class="mb-0">Hi, @ViewBag.Name</p>
                </div>
            </header>


            <!-- Content -->
            <div class="content">
                @RenderBody()
            </div>

            <!-- Global Modal -->
            <div class="modal fade" id="globalModal" tabindex="-1">
                <div class="modal-dialog modal-md">
                    <div class="modal-content" id="globalModalContent">
                        <!-- Content  di-load lewat fetch js -->
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer class="bg-light text-center py-2">
                <p class="mb-0 small">&copy; @DateTime.Now.Year PT Excelitas Technologies Batam</p>
            </footer>

        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Sweetalert Toast -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/toast.js"></script>
    @RenderBody()
    <partial name="_NotificationPartial" />

    <!-- Apex chart -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- Load Modal globall-->
     <script>

         // validasi file disabled modal
           function initFinishModalValidation() {
            const modal = document.getElementById("globalModalContent");
            const fileInput = modal.querySelector("#fileCOC");
            const form = modal.querySelector("form");

            if (!fileInput || !form) return; 

            fileInput.addEventListener("change", function (e) {

            // Pastikan event berasal dari input file #fileCOC
            if (e.target.id !== "fileCOC") return;

            const fileInput = e.target;
            const file = fileInput.files[0];

            if (!file) return;

            // Validasi ekstensi
            const ext = file.name.split('.').pop().toLowerCase();
            if (ext !== "pdf") {
                alert("File harus .pdf");
                fileInput.value = "";
                return;
            }

            // Validasi ukuran (5MB)
            if (file.size > 1 * 1024 * 1024) {
                alert("Ukuran file maksimal 1MB.");
                fileInput.value = ""; 
                return;
            }

            // Jika valid
            console.log("File valid:", file.name);

            });

            // Reset ketika modal ditampilkan
           
                modal.addEventListener("shown.bs.modal", () => {
                    fileInput.value = "";
                    fileInput.classList.remove("is-invalid", "is-valid");
                });
            }


            // tampilkan modal
            document.addEventListener("click", function (e) {
            if (!e.target.classList.contains("open-modal")) return;

            const url = e.target.dataset.url;
            const modal = new bootstrap.Modal(document.getElementById("globalModal"));

            document.getElementById("globalModalContent").innerHTML =
                "<div class='p-5 text-center'>Loading...</div>";

            modal.show();

            fetch(url)
                .then(res => res.text())
                .then(html => {
                    document.getElementById("globalModalContent").innerHTML = html;
                    initFinishModalValidation();
                })
                .catch(() => {
                    document.getElementById("globalModalContent").innerHTML =
                        "<div class='p-5 text-danger'>Failed to load content</div>";
                });
        });

    </script>

    <!-- loading efek -->
    <script>
                document.addEventListener("DOMContentLoaded", function () {
            const forms = document.querySelectorAll("form");

            forms.forEach(function(form) {
                form.addEventListener("submit", function (e) {
                    e.preventDefault();

                    // Nonaktifkan semua tombol submit
                    const submitButtons = form.querySelectorAll('[type="submit"]');
                    submitButtons.forEach(btn => {
                        btn.disabled = true;
                        btn.classList.add("disabled");
                        btn.style.opacity = "0.7";
                    });

                    // Timer untuk delay sebelum menampilkan spinner
                    let spinnerTimeout = setTimeout(() => {
                        const overlay = document.getElementById("globalLoadingOverlay");
                        if (overlay) overlay.style.display = "flex";
                    }, 1000); 

                    // Kirim form setelah submit
                    form.submit();
                });
            });
        });
    </script>

  @*   @RenderBody()
    <partial name="_NotificationPartial" /> *@
    @RenderSection("Scripts", required: false)
</body>
</html>
