@model EWOS_MVC.Models.RepeatOrderModel

<div class="modal-header bg-gradient ">
    <h5 class="modal-title">Detail Data</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Tutup"></button>
</div>

<!-- Modal Body -->
<div class="modal-body">
    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle w-100">
            <tbody>
                <tr>
                    <th class="col-sm-4">Part Id</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @Model.Id
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-4">Part Name</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @Model.ItemRequests.PartName
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-4">Request Qty</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @Model.QuantityReq
                    </td>
                </tr>
              
                <tr>
                    <th class="col-sm-4">Fabrication Done  Qty</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @(Model.QuantityDone ?? 0)
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-4">Part Code</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @(Model.ItemRequests.PartCode != null
                            ? Model.ItemRequests.PartCode
                            : Html.Raw("<span class='badge bg-danger'>Belum di set</span>")
                            )

                    </td>
                </tr>

                <tr>
                    <th class="col-sm-4">Machine Category</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @Model.ItemRequests.MachineCategories.CategoryName
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-4">Raw Material</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @(Model.ItemRequests.RawMaterials != null
                                                ? Model.ItemRequests.RawMaterials.Name
                                                : Html.Raw("<span class='badge bg-danger'>Belum di set</span>"))

                    </td>
                </tr>

                <tr>
                    <th class="col-sm-4">External Cost ($)</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @(Model.ItemRequests.ExternalFabCost != null ? Model.ItemRequests.ExternalFabCost.ToString() : Html.Raw("<span class='badge bg-danger'>Belum di set</span>"))
                    </td>
                </tr>

                <tr>
                    <th class="col-sm-4">Fabrication Time</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @(Model.ItemRequests.FabricationTime != null ? Model.ItemRequests.FabricationTime.ToString() : Html.Raw("<span class='badge bg-danger'>Belum di set</span>"))
                    </td>
                </tr>

                @if (Model.ItemRequests.MachineCategoryId == 2)
                {
                    <tr>
                        <th class="col-sm-4">Weight</th>
                        <td class="col-sm-8" style="word-break: break-word;">
                            @(Model.ItemRequests.Weight != null ? Model.ItemRequests.Weight.ToString() : Html.Raw("<span class='badge bg-danger'>Belum di set</span>"))
                        </td>
                    </tr>
                }
                <tr>
                    <th class="col-sm-4">Fabrication Unit</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @Model.ItemRequests.Unit
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-4">Saving Cost Calculation</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @if (Model.ItemRequests.IsCalculateSaving)
                        {
                            <span class="badge bg-success">Yes</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">No</span>
                        }
                    </td>
                </tr>

                <tr>
                    <th class="col-sm-4">Request Date</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @Model.CreatedAt
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-4">CRD</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @Model.CRD
                    </td>
                </tr>

                <tr>
                    <th class="col-sm-4">OCD</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @(Model.OCD.HasValue
                                                ? Model.OCD.Value.ToString("dd-MM-yyyy")
                                                : Html.Raw("<span class='badge bg-danger'>-</span>"))

                    </td>
                </tr>
                <tr>
                    <th class="col-sm-4">Design</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @if (!string.IsNullOrEmpty(Model.ItemRequests.DesignPath))
                        {
                            <a href="@Url.Content(Model.ItemRequests.DesignPath)" target="_blank" class="btn btn-sm btn-outline-primary"><i class="bi bi-download"></i> Download</a>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                </tr>
                @if (Model.ItemRequests.MachineCategoryId == 1)
                {
                <tr>
                    <th class="col-sm-4">File COC</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                            @if (!string.IsNullOrEmpty(Model.COCPath))
                        {
                                <a href="@Url.Content(Model.COCPath)" target="_blank" class="btn btn-sm btn-outline-primary"><i class="bi bi-eye-fill"></i> View</a>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                </tr>
                    
                }
                <tr>
                    <th class="col-sm-4">Ref Drawing</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @if (!string.IsNullOrEmpty(Model.ItemRequests.DrawingPath))
                        {
                            <a href="@Url.Content(Model.ItemRequests.DrawingPath)" target="_blank" class="btn btn-sm btn-outline-primary"><i class="bi bi-eye-fill"></i> View</a>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-4">Ref Quotation</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @if (!string.IsNullOrEmpty(Model.ItemRequests.QuantationPath))
                        {
                            <a href="@Url.Content(Model.ItemRequests.QuantationPath)" target="_blank" class="btn btn-sm btn-outline-primary"><i class="bi bi-eye-fill"></i> View</a>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-4">Description</th>
                    <td class="col-sm-8" style="word-break: break-word;">
                        @Model.Description
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
</div>